node_modules/
env/
venv/
ENV/
.venv/
.DS_Store
.vscode/
*.log

frontend/build/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.env

.idea/
*.sublime-project
*.sublime-workspace

coverage/
htmlcov/

.pytest_cache/

*.bak
*.swp
*.tmp

Thumbs.db
ehthumbs.db
